# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
from pandas import RangeIndex

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:

admissions.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:

admissions.set_index('Serial No.').head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:

admissions.set_index('GRE Score').head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,,,,,,,,
337,1,118,4,4.5,4.5,9.65,1,0.92
316,2,104,3,3.0,3.5,8.00,1,0.72
322,3,110,3,3.5,2.5,8.67,1,0.80
314,4,103,2,2.0,3.0,8.21,0,0.65
330,5,115,5,4.5,3.0,9.34,1,0.90

In [7]:
admissions.set_index('CGPA').head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
CGPA,,,,,,,,
9.65,1,337,118,4,4.5,4.5,1,0.92
8.00,2,316,104,3,3.0,3.5,1,0.72
8.67,3,322,110,3,3.5,2.5,1,0.80
8.21,4,314,103,2,2.0,3.0,0,0.65
9.34,5,330,115,5,4.5,3.0,1,0.90

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# Your code here:

admissions.reset_index()

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,9,10,327,111,4,4.0,4.5,9.00,1,0.84
10,10,11,328,112,4,4.0,4.5,9.10,1,0.78
11,11,12,307,109,3,4.0,3.0,8.00,1,0.62
12,12,13,311,104,3,3.5,2.0,8.20,1,0.61
13,13,14,314,105,3,3.5,2.5,8.30,0,0.54
14,14,15,317,107,3,4.0,3.0,8.70,0,0.66
15,15,16,319,106,3,4.0,3.0,8.00,1,0.65
16,16,17,318,110,3,4.0,3.0,8.80,0,0.63
17,17,18,303,102,3,3.5,3.0,8.50,0,0.62
18,18,19,325,114,4,3.0,2.0,8.40,0,0.70
19,19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,20,21,334,119,5,5.0,4.5,9.70,1,0.95
21,21,22,336,119,5,4.0,3.5,9.80,1,0.97
22,22,23,322,109,5,4.5,3.5,8.80,0,0.76
23,23,24,298,98,2,1.5,2.5,7.50,1,0.44
24,24,25,295,93,1,2.0,2.0,7.20,0,0.46
25,25,26,310,99,2,1.5,2.0,7.30,0,0.54
26,26,27,300,97,2,3.0,3.0,8.10,1,0.65
27,27,28,327,103,3,4.0,4.0,8.30,1,0.74
28,28,29,338,118,4,3.0,4.5,9.40,1,0.91
29,29,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...,...
355,355,356,310,103,2,2.5,2.5,8.24,0,0.72
356,356,357,324,110,3,3.5,3.0,9.22,1,0.89
357,357,358,336,119,4,4.5,4.0,9.62,1,0.95
358,358,359,321,109,3,3.0,3.0,8.54,1,0.79
359,359,360,315,105,2,2.0,2.5,7.65,0,0.39
360,360,361,304,101,2,2.0,2.5,7.66,0,0.38
361,361,362,297,96,2,2.5,2.0,7.43,0,0.34
362,362,363,290,100,1,1.5,2.0,7.56,0,0.47
363,363,364,303,98,1,2.0,2.5,7.65,0,0.56
364,364,365,311,99,1,2.5,3.0,8.43,1,0.71
365,365,366,322,104,3,3.5,4.0,8.84,1,0.78
366,366,367,319,105,3,3.0,3.5,8.67,1,0.73
367,367,368,324,110,4,4.5,4.0,9.15,1,0.82
368,368,369,300,100,3,3.0,3.5,8.26,0,0.62
369,369,370,340,113,4,5.0,5.0,9.74,1,0.96
370,370,371,335,117,5,5.0,5.0,9.82,1,0.96
371,371,372,302,101,2,2.5,3.5,7.96,0,0.46
372,372,373,307,105,2,2.0,3.5,8.10,0,0.53
373,373,374,296,97,2,1.5,2.0,7.80,0,0.49
374,374,375,320,108,3,3.5,4.0,8.44,1,0.76
375,375,376,314,102,2,2.0,2.5,8.24,0,0.64
376,376,377,318,106,3,2.0,3.0,8.65,0,0.71
377,377,378,326,112,4,4.0,3.5,9.12,1,0.84
378,378,379,317,104,2,3.0,3.0,8.76,0,0.77
379,379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,384,385,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [14]:
# Your code here:

admissions.columns

admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].count()

Serial No.           101
GRE Score            101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
CGPA                 101
Research             101
Chance of Admit      101
dtype: int64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [15]:
# Your code here:

admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)].mean()

Serial No.           166.600
GRE Score            328.000
TOEFL Score          112.800
University Rating      3.400
SOP                    3.000
LOR                    3.400
CGPA                   9.130
Research               0.800
Chance of Admit        0.802
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [19]:
def standardize(col):
    std = [((i - np.mean(col))/ np.std(col)) for i in col]
    return std
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    # Your code here:

admissions['CGPA_std'] = standardize(admissions['CGPA'])

admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])





    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

We will generate the decision choice at random using the code below. Please run the cell.

In [20]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [21]:
# Your code here:

admissions['deciding_column'] = admissions.lookup(admissions.index,decision_choice)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.992501
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# Your code here:

admissions['decision'] = np.where(admissions['deciding_column']>0.8, 1, 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# Your code here:

admissions['decision'].value_counts()

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [22]:
# Your code here:


admissions.columns = [i.replace('.','').lower().replace(' ', '_') for i in list(admissions.columns)]

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [23]:
# Your code here:

admissions['adjusted_gre'] = admissions['gre_score']
student = admissions.university_rating >=4
admissions.loc[student, 'adjusted_gre'] += 10

In [24]:

admissions['adjusted_gre'] = pd.cut(admissions['adjusted_gre'], 4)

SyntaxError: unexpected EOF while parsing (<ipython-input-24-6da97aceb40a>, line 2)